{% extends "base.html" %}

{% block title %}Home - My website{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Walter Street</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-text" style="margin-left:.5rem;color:#fff;">Menu</span>
    </button>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/">Games</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Team</a></li>
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Shop</a></li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  <h1>I am Walter</h1>
  <p>Wassup guys</p>


 
 <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='images/wall.jpg') }}"
       class="card-img-top profile-img"
       alt="Profile">
  <div class="card-body">
    <h5 class="card-title">Walter Survine</h5>
    <p class="card-text">Employee</p>
    <a href="#" class="btn btn-primary">View Profile</a>
  </div>
</div>

   {% endblock %}
   
{% block footer %} {% endblock %} 

