<!DOCTYPE html>
>
 <nav class="navbar navbar-expanded-lg navbar-dark bg-dark">
     <div class="container-fluid">
         <a class="navbar-brand" href="#"></a>
          <div class ="collapse navbar-collapse"></div>
            <ul class="navbar-nav me-auto"></ul>
                <li class="nav-item"></li>
                    <a class="nav-link" href="/">Games</a>
                </li> 
                <li class="nav-item"></li>   
                    <a class="nav-link" href="#">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop</a>
                </li>
            </ul>
        </div>
    </div>
 </nav>
 


 {% block content %}
 
 {% endblock %}



